body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  font-weight: bold;;
  padding: 10px;
  background-color: rgba(100,100,100,0.8);
  color: rgba(245,245,245,1)
}

.loading {
  margin: 15px;
  color: rgba(100,100,100,0.8);
}

.detectionResult {
  display: flex;
  flex-wrap: wrap;
}

.detection {
  flex-basis: 250px;
  padding: 5px;
  margin: 15px;
  border-style: ridge;
  border-width: 2px;
  border-color: rgba(100,100,100,1);
  border-radius: 2%;
}

.detectionImage {
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(100,100,100,0.8);
}

.probability {
  font-weight: bold;
  font-size: 12px;
}

.updated {
  font-weight: bold;
  font-size: 10px;
  color: rgba(100,100,100,1);
}